# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
instance/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
/uploads/
/instance/

# Local database file
database.db

# Environment variables
.env

# Backup files
*.bak_*