services:
- type: web
  name: gestion-avisos
  env: python
  plan: free
  buildCommand: pip install -r requirements.txt
  startCommand: waitress-serve --host=0.0.0.0 --port=$PORT --threads=4 --call backend:create_app
  healthCheckPath: /
  envVars:
    - key: DB_PATH
      value: /var/data/database.db
    - key: UPLOAD_FOLDER
      value: /var/data/uploads
  disks:
    - name: data
      mountPath: /var/data