{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="formulario">
        <form method="post" novalidate>
            {{ form.hidden_tag() }} {# CSRF token #}

            <div class="form-group">
                {{ form.nombre.label }}
                {{ form.nombre(class="form-control") }}
                {% for error in form.nombre.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.telefono.label }}
                {{ form.telefono(class="form-control") }}
                {% for error in form.telefono.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.tipo_proveedor.label }}
                {{ form.tipo_proveedor(class="form-control") }}
                {% for error in form.tipo_proveedor.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
