{% extends "base.html" %}

{% block title %}Editar Aviso{% endblock %}

{% block content %}
    <h1>Editar Aviso</h1>

    <div class="formulario">
        <form action="{{ url_for('editar_aviso', aviso_id=aviso['id']) }}" method="post">
            <input type="text" name="nombre" placeholder="Nombre" value="{{ aviso['nombre'] }}" required>
            <input type="text" name="direccion" placeholder="Dirección" value="{{ aviso['direccion'] }}">
            <input type="text" name="telefono" placeholder="Teléfono" value="{{ aviso['telefono'] }}">
            <input type="text" name="whatsapp" placeholder="WhatsApp" value="{{ aviso['whatsapp'] }}">
            <textarea name="aviso" placeholder="Escribe tu aviso aquí" required>{{ aviso['aviso'] }}</textarea>
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
{% endblock %}