{% extends "base.html" %}

{% block title %}Detalles del Cliente{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('clients.list_clients') }}">Clientes</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ client.nombre }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    <div class="content-header">
        <h1>Detalles del Cliente: {{ client['nombre'] }}</h1>
        <a href="{{ url_for('clients.list_clients') }}" class="btn btn-secondary">Volver a la Lista</a>
    </div>

    <div class="profile-container">
        <div class="profile-details">
            <h3>Información de Contacto</h3>
            <dl class="row">
                <dt class="col-sm-3">Nombre Completo</dt>
                <dd class="col-sm-9">{{ client.nombre }}</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">{{ client.email or 'No especificado' }}</dd>

                <dt class="col-sm-3">Teléfono</dt>
                <dd class="col-sm-9">{{ client.telefono or 'No especificado' }}</dd>

                <dt class="col-sm-3">Socio Comercial</dt>
                <dd class="col-sm-9">{{ referred_by or 'N/A' }}</dd>
            </dl>

            <h3>Información Fiscal</h3>
            <dl class="row">
                <dt class="col-sm-3">NIF/CIF</dt>
                <dd class="col-sm-9">{{ client['nif'] | default('No especificado', true) }}</dd>
            </dl>
            
            <!-- You can add more sections here as more fields are added to the clientes table -->

        </div>
        <div class="mt-4">
             <a href="{{ url_for('clients.edit_client', client_id=client['id']) }}" class="btn btn-primary">Editar Cliente</a>
            {% if client.telefono %}
                <a href="https://wa.me/34{{ client.telefono | replace(' ', '') }}" class="btn btn-success" target="_blank">Contactar por WhatsApp</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
